---
import SectionContainer from "../components/SectionContainer.astro";
import MainLayout from "../layouts/MainLayout.astro";
import PagesHeader from "../components/PagesHeader.astro";

---

<MainLayout
    title="Archivos de Arkania - F. M. Wylde"
    author="Pedro Rojas"
    description="Todo sobre Arkania, el mundo fantástico creado por F. M. Wylde"
    version="1.0"
>
    <SectionContainer class="py-16 md:py-20">
        <PagesHeader
            title= "Los Archivos de Arkania"
            description= "Explora los misteriosos reinos de Elessar a través del prisma de la novela «Arkania» en esta sección. Sumérgete en entradas detalladas que desentrañan la magia, la geografía, las culturas y las criaturas de este mundo de fantasía épica. Desde la creación de mapas hasta el desarrollo del sistema de magia, descubre los entresijos de la construcción de un universo cautivador. ¡Prepárate para embarcarte en un viaje inolvidable más allá de la realidad!"
            className="background2"
        />
    </SectionContainer>

    <SectionContainer class="py-16 md:py-20">
        <h1>Aquí van las entradas del archivo de Arkania -- //TODO</h1>
        <section class="h-96"></section>
    </SectionContainer>

</MainLayout>
