---
import BlogHeader from "../components/BlogHeader.astro";
import ListCategories from "../components/ListCategories.astro";
import ListPosts from "../components/ListPosts.astro";
import SectionContainer from "../components/SectionContainer.astro";
import MainLayout from "../layouts/MainLayout.astro";

import { getPosts } from "../utils/post";
const MAX_POSTS = 5;
const posts = await getPosts(MAX_POSTS);
---

<MainLayout
    title="Taberna Aguazul - F. M. Wylde"
    author="Pedro Rojas"
    description="Blog del escritor F. M. Wylde"
    version="1.0"
>
    <SectionContainer class="py-16 md:py-20">
        <BlogHeader />
    </SectionContainer>

    <SectionContainer class="py-2 md:py-6">
        <ListCategories  />

        <section>
            <h2>Últimos Posts</h2>
            <ListPosts FirstBig={true} posts={posts} type="post" />
        </section>
    </SectionContainer>

</MainLayout>