---
import { Image } from 'astro:assets';
import banner from '../components/images/sobre-mi.webp';
---

<section>
    <Image
        src={banner}
        alt="Representación del escrito de niño escribiendo historias fantásticas"
    />
    <h1 class="text-4xl text-green-600 font-bold mb-8 mt-2">
        Sobre F. M. Wylde
    </h1>
    <h2 class="text-2xl text-green-600 font-bold mt-1 mb-2">
        Érase una vez un niño…
    </h2>
    <p>
        …que leía sin parar. Libros de todo tipo: fantasía, misterio, romance, crímen. Leía sin parar, de cualquier temática y en cualquier momento. La bibliotecaria lo miraba raro cuando, con doce años, pidió la Odisea de Homero para leerla. «Es bastante denso» le indicó amablemente. «No se preocupe, yo leo de todo». A la semana siguiente lo devolvió. Y efectivamente, lo había leído entero.
    </p>
    <p>
        Pero su género favorito era la fantasía. Desde Harry Potter a Eragon, pasando por clásicos como Corazón de tinta o Las crónicas de Narnia, nuestro joven héroe leía todo lo que podía. No sólo por diversión, sino por pura pasión.
    </p>

    <h2 class="text-2xl text-green-600 font-bold mt-1 mb-2">
        Y entonces surgió una idea
    </h2>
    <p>
        Algo que desde entonces, y durante el resto de su vida, no pudo quitarse de la cabeza. «Todo esto está muy bien» pensaba «pero creo que yo puedo crear una gran historia también».
    </p>
    <p>
        Y el resto, como se suele decir, es historia. Con dieciséis años, creé el mundo de Elessar, en el que se desarrolla la historia de Arkania. Aunque claro, en aquel momento no se llamaba Elessar, ni la mayoría de los nombres tenían nada que ver con lo que al final se escribió. Pero los personajes, la historia y el trasfondo estaban bien definidos.
    </p>
    <p>
        Entonces llegó la vida, y con ella, la procrastinación. Escribiré los fines de semana, cuando pueda. Pero el fin de semana llegaba y las palabras no. Escribiré en verano, que tendré más tiempo. Pero el verano llegaba y se marchaba y ni una sola palabra había sido escrita.
    </p>

    <h2 class="text-2xl text-green-600 font-bold mt-1 mb-2">
        Entonces llegó el cambio
    </h2>
    <p>
        Decidí enfrentarme a mis dudas, a mis temores, a mis inquietudes. Y derribarlo todo. Empecé a escribir a diario, fuese como fuese, incluso aunque lo que escribiera no tuviese ningún tipo de sentido. Durante meses me entrené en el hábito de escribir. Mientras creaba el mundo de Elessar y lo llenaba de detalles e historia.
    </p>

    <h2 class="text-2xl text-green-600 font-bold mt-1 mb-2">
        Y entonces empecé a escribir <span class="element">Arkania</span>
    </h2>
    <p>
        A una velocidad trepidante, en poco menos de un año ya he escrito más de 700 páginas del primer borrador (mientras escribo estas líneas, que espero pronto reescribir con mejores notícias. La constancia siempre tiene su recompensa. Y muy pronto esa recompensa estará en vuestras manos, en forma de la mejor novela autoconclusiva de fantasía épica que hayáis leído.
    </p>
    <p>
        Y el sueño de aquel niño, al fin, se hará realidad.
    </p>

</section>

<style>
    .element{
        font-style: italic;
    }
</style>