---
import type { CollectionEntry } from "astro:content";
import PostCard from '../components/PostCard.astro';
import { cn } from '../utils/cn';

type Props = {
    posts: CollectionEntry<'blog' | 'archive'>[]
    FirstBig?: boolean
	type: string
}

const { posts, FirstBig = false, type } = Astro.props;
---

<section
	class={cn(
		`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-8 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}
>
	{
		posts.map(async (post) => {

			return (
				<PostCard
					id={post.id}
					data={post.data}
					slug={post.slug}
					type={type}
				/>
			)
		})
	}
</section>