---
import Counter from '../components/Counter';

export interface Props {
  textBar: string;
  percentatge: number;
}


const { percentatge, textBar } = Astro.props;
---

<div class="mb-2 mt-2 text-lg font-medium dark:text-white">Progreso {textBar}</div>
<div class="w-full h-6 bg-gray-200 rounded-full dark:bg-gray-700 progress-container">
  <div class="mb-2 h-6 rounded-full text-center progress-bar" style={`--w-size: ${percentatge}%`}>
    <Counter target={percentatge} client:load />
  </div>
</div>


<style>
  .progress-container {
      background-color: #e0e0e0;
      overflow: hidden;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  }

  .progress-bar {
      background: linear-gradient(to right, rgb(184, 254, 206), rgba(105, 192, 115, 1));
      border-radius: 25px 0 0 25px;
      animation: fill 6s forwards;
  }

  @keyframes fill {
      0% {
          width: 0;
      }
      100% {
          width: var(--w-size);
      }
  }
</style>

