---
import CardReview from "./CardReview.astro";
import momPic from '../components/images/mom.svg';
---

<section>
    <article class="px-4">
        <CardReview
            headImage={momPic}
            alt="Icono de una mamá"
            review="“F.M. Wylde es el mejor autor de fantasía épica de nuestra época. Poco tienen que envidiarle otros autores de fantasía como ese de la serie esa de los dragones.”"
            author="Madre de F. M. Wylde"
        />
    </article>
</section>

<style>
    section {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    article {
        flex: 1;
    }
</style>