---
import Arrow from '../components/icons/Arrow.astro'
---

<div 
    id="slider-btn"
    class="my-20 transition-transform transform hover:scale-105"
>
    <a href="#header-section">
        <Arrow />
    </a>
</div>

<script>
    window.addEventListener('scroll', function() {
        const sliderArrow = document.getElementById('slider-btn') as HTMLElement | null;
        if (sliderArrow) {
            if (window.scrollY > 100) { // Muestra el div cuando se hace scroll
                sliderArrow.style.display = 'block';
            } else { // Oculta el div cuando se vuelve a la parte superior de la página
                sliderArrow.style.display = 'none';
            }
        }
    });
</script>

<style>
    #slider-btn {
        position: fixed;
        right: 2rem;
        bottom: 1px;
        display: none;
    }
</style>